// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/
$color__white:         white;
$color__fiord:         #4F5A65;
$color__black-russian: #202124;
$color__shuttle-grey:  #5f6368;
$color__grey:          #767676;
$color__royal-blue:    #1C5AEA;
$color__matisse:       #376089;
$color__navy:          #173d7a;
$color__sunny:         yellow;
$color__sky:           #185ece;
$color__grey-blue:     #667a87;
$color__black_blue:    #102e42;
$color__dark_greyish_blue: #454b54;