// Colorings for draft purposes
#app {
    background: #f9f9ff;
}

.page-header {
    background: #f4effc;

}

.aside {

    .container {
        background: #ffd8d8;
    }
}

.main {

    .container {}
}

.page-footer {
    background: #7277ad;
}
